body {
  background: #FFF;
  color: #000; }

.formContainer form > .row{
	min-height: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.placeholder{
	height: 75px;
	background:#ECECEC;
}
.ui-draggable-dragging{
	background: #FFF;
	box-shadow: 0 0 10px #CCC;
	padding: 0px 30px;
	z-index: 2;
}
.ui-sortable-helper{
	background: #FFF;
	box-shadow: 0 0 10px #CCC;
}
.formContainer .ui-sortable-helper .formDragElements:hover{
	box-shadow: inset 0 0 0px 0px #4885ed;
}
.file-control {
    width: 100%;
    height: 34px;
    cursor: pointer;
    position: relative;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.file-control input[type=file] {
    opacity: 0;
    height: 35px;
    width: 100%;
    cursor: pointer;
}
.file-control span {
    text-align: center;
    display: block;
    padding: 6px;
    color: #636c72;
    position: absolute;
    width: 100%;
}
.optionBlock {
	position: absolute;
	top: 3px;
	padding: 2px 0;
	margin-top: -20px;
	font-size: 14px;
	text-align: center;
	width: 22px;
	background: #4885ed;
    color: #FFF;
}
.ui-removeBlock {
	left: 0px;
	cursor: pointer;
}
.ui-handle {
	left: 20px;
	cursor: move;
}
.formElWrap .formDragElements {
	cursor: move;
}
.ui-editBlock {
	left: 40px;
	cursor: pointer;
}
.formContainer .formDragElements{
	padding: 10px;
}
.formContainer .formDragElements:hover{
	box-shadow: inset 0 0 0px 2px #4885ed;
}
.formContainer .formDragElements label{
	position: relative;
}
.formDragElements .form-control,.formDragElements .file-control,
.formDragElements input[type=radio],.formDragElements input[type=checkbox]{
	pointer-events: none;
}
#popBlock {
	max-width: 545px;
	position: absolute;
	top: 0;
	background: #FFF;
	z-index: 9;
	padding: 15px 0;
	box-shadow: 0 0 10px #CCC;
	border-radius: 5px;
	border-top: 5px solid #CCC;
}
#popBlock:after {
	content: "";
	position: absolute;
	top: -16px;
	left: 20px;
	width: 0;
	height: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 11px solid #CCC;
}
.popBlockWrap{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#popBlock a.removePopBlock {
	position: absolute;
	right: 3px;
	top: 3px;
	cursor: pointer;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut; }

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }

@-moz-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }

@-o-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); } }
	
.animated.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}